.p-home {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__title {
      font-size: 2rem;
      color: white;
      margin: 0 auto;
      padding-top: 20px;
    }

    &__gif {
      height: 400px;
      width: 400px;
      background-size: cover;
      background-image: url('/hi.gif');
    }
  }
}
