
.navigationBar{

    width: 100dvw;

    display: flex;
    justify-content: space-evenly;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;

    background-color: #191818;
    padding: 20px 0;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: -1px 0 2px 5px #ffffff0f;


    img{
        width: 40px;
    }
}

.icon{
    margin: 0;
}