.warning-pop-up{

    text-align: center;

    background-color: #e0ddd5;
    border-radius: 8px;

    padding: 20px 30px;

    margin: 0 auto;

    max-width: 75vw;
    z-index: 999;

    img{
        width: 40px;
        margin-bottom: 10px;
    }

}